{% load static %}
<div class="container">
    <div class="row">
        <div class="col">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3 nav-l-style" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link color-red">
                            <div class="flex-row center-icon-text">
                                <img src="{% if user.avatar_hash %}../../{{user.avatar_hash}}{% elif user.avatar %}{{user.avatar.url}}{% else %}{% static '../media/profile/profile-icon.png' %}{%endif %}" class="image-profile shadow-lg"> &nbsp;
                                <h6>{{user.username}}</h6>
                            </div>
                        </button>


                        <button class="nav-link center-icon-text color-white none-hover active" id="pills-users-tab" data-bs-toggle="pill" data-bs-target="#pills-users" type="button" role="tab" aria-controls="pills-users" aria-selected="true">
                            <span class="material-symbols-outlined">
                                account_circle
                            </span>&nbsp;Account
                        </button>
                      
                        <button class="nav-link center-icon-text color-white none-hover" id="v-pills-teams-tab" data-bs-toggle="pill" data-bs-target="#v-pills-teams" type="button" role="tab" aria-controls="v-pills-teams" aria-selected="false">
                            <span class="material-symbols-outlined">
                                groups
                            </span>&nbsp;Team
                        </button>

                        <button class="nav-link center-icon-text color-white none-hover" id="pills-recent-match-tab" data-bs-toggle="pill" data-bs-target="#pills-recent-match" type="button" role="tab" aria-controls="pills-recent-match" aria-selected="false">
                            <span class="material-symbols-outlined">
                                joystick
                                </span>&nbsp;Recent Matches
                        </button>

                        <button class="nav-link center-icon-text color-white none-hover" id="pills-wallet-tab" data-bs-toggle="pill" data-bs-target="#pills-wallet" type="button" role="tab" aria-controls="pills-wallet" aria-selected="false">
                            <span class="material-symbols-outlined">
                                account_balance_wallet
                                </span>&nbsp;Wallet
                        </button>

                        <button class="nav-link center-icon-text color-white none-hover" id="pills-notifications-tab" data-bs-toggle="pill" data-bs-target="#pills-notifications" type="button" role="tab" aria-controls="pills-notifications" aria-selected="false">
                            <span class="material-symbols-outlined">
                                notifications_active
                            </span>&nbsp;Notifications
                        </button>

                        <a href="{%url 'logout' %}">
                        <button class="nav-link center-icon-text pink-hover" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                            <span class="material-symbols-outlined">
                                logout</span>&nbsp;Exit
                        </button>
                        </a>
                    </div>












                    <div class="tab-content" id="v-pills-tabContent">
                        <!-- Users Tab -->
                        <div class="tab-pane fade show active dashboard-detail padding-from-side" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab" tabindex="0">
                            <div class="row">
                                <div class="flex-column">
                                            <div class="col dashboard-detail-item" id="user-detail">                                        
                                                <div class="content">

                                                        <div class="row padding-25">

                                                            <div class="col-lg-2">
                                                            </div>

                                                            <div class="col-lg-8 ">
                                                                <p class="center-icon-text">
                                                                    <span class="material-symbols-outlined">
                                                                    badge
                                                                    </span>&nbsp;Account Detail
                                                                </p>
                                                                {% if profile_form %}
                                                                    <form method="post" action="{% url 'dashboard' %}" enctype="multipart/form-data">
                                                                        {% csrf_token %}
                                                                        <div class="flex-center">
                                                                            <img src="{% if user.avatar_hash %}../../{{user.avatar_hash}}{% elif user.avatar %}{{user.avatar.url}}{% else %}{% static '../media/profile/profile-icon.png' %}{%endif %}" class="image-profile-detail shadow-lg"> 
                                                                        </div>
                                                                        {{profile_form.as_div}}
                                                                        <input type="submit" value="Update" class="btn btn-outline-light">
                                                                    </form>
                                                                {% else %}
                                                                    <p class="min-height-200 center-r-c">Nothing to show</p>
                                                                {% endif %}
                                                            </div>

                                                            <div class="col-lg-2">
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>

                                        <div class="col from-top-25 dashboard-detail-item">    
                                            <div class="content">

                                                <div class="row">
                                                    <div class="col-lg-2">

                                                    </div>

                                                    <div class="col-lg-8">
                                                                <div class="padding-25">
                                                                    <p class="center-icon-text">
                                                                        <span class="material-symbols-outlined">
                                                                            chess
                                                                            </span>&nbsp;# Alts
                                                                    </p>
                                                                    {% if alts %}
                                                                        <table class="table">
                                                                        {% for alt in alts %}
                                                                            <tr>
                                                                                <td class="bg-transparent color-white-important"># {{alt.name}}</td>
                                                                                <td class="bg-transparent color-white-important">{{alt.realm.name}}</td>
                                                                                <td class="bg-transparent color-white-important">
                                                                                    {{alt.status}}
                                                                                </td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                        </table>
                                                                    {% endif %}
                                                                </div>

                                                                <div class="padding-25">
                                                                    <h6>Add Alt</h6>
                                                                    <form class="from-top-25">
                                                                        <div class="mb-3">
                                                                            <input type="text" placeholder="name..." class="form-control" name="altname">
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <select name="realm" class="form-control">
                                                                                {% if realms %}
                                                                                    {% for realm in realms%}
                                                                                        <option value="{{realm.id}}">{{realm.name}}</option>
                                                                                    {% endfor %}
                                                                                {% else %}
                                                                                    <option value="0">No realm define yet</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <input type="submit" value="Add" class="btn btn-outline-light">
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                    </div>

                                                                <div class="col-lg-2">
                                                                    
                                                                </div>
                                                </div>
                                            </div>
                                        </div>


                                </div>
                            </div>
                        </div>


                        <!-- Teams -->
                        <div class="tab-pane fade dashboard-detail" id="v-pills-teams" role="tabpanel" aria-labelledby="v-pills-teams-tab" tabindex="0">
                            <div class="row">
                                    {% if team %}
                                        <div class="col dashboard-detail-item">
                                            <p class="center-icon-text">
                                                <span class="material-symbols-outlined">
                                                    group
                                                    </span>&nbsp;{{team.detail.name}}
                                            </p>

                                            <div class="content">
                                                <div class="row">

                                                    <div class="col-lg-3"></div>

                                                    <div class="col-lg-6 from-top-25">
                                                        <table class="table">
                                                            <thead>
                                                                <th class="bg-transparent color-white-important">user</th>
                                                                <th class="bg-transparent color-white-important">Team Role</th>
                                                            </thead>
                                                            {% for member in team.members%}
                                                                <tr>
                                                                    <td class="bg-transparent color-white-important">{{member.player.username}}</td>
                                                                    <td class="bg-transparent color-white-important">{{member.team_role}}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </table>
                                                        <br>
                                                        <div class="flex-between flex-column">
                                                            
                                                            <div class="center-icon-text from-top-25">
                                                                <span class="material-symbols-outlined">
                                                                    link
                                                                    </span>&nbsp;Address: &nbsp;<span class="badge bg-danger">{{team.detail.team_url}}</span>
                                                            </div>

                                                            <a href="{% url 'left_the_team' team_pk=team.detail.id %}" class="btn btn-light center-icon-text color-purpole from-top-15">
                                                                <span class="material-symbols-outlined">
                                                                    door_back
                                                                    </span>&nbsp;Left the team
                                                            </a>
                                                        </div>
                                                        <br>
                                                    </div>

                                                    <div class="col-lg-3"></div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                            {% if team.is_leader_team %}
                                                <div class="flex-column dashboard-detail-item from-top-25">
                                                        <div class="col">
                                                            <p class="center-icon-text">
                                                                <span class="material-symbols-outlined">
                                                                    group_add
                                                                    </span>&nbsp;New request
                                                            </p>

                                                            <div class="content">
                                                                <div class="row">

                                                                    <div class="col-lg-3"></div>

                                                                    <div class="col-lg-6 from-top-25">
                                                                        {% if team.new_requests %}
                                                                                {% for request in team.new_requests%}
                                                                                    <div class="row">
                                                                                        <div class="col-12 color-white-important">
                                                                                            User: {{request.player}}
                                                                                        </div>

                                                                                        <div class="col-10">
                                                                                            <form method="post" action="{% url 'join_team_response' %}" class="row row-cols-lg-auto g-3 align-items-center margin-bottom-less">
                                                                                                {% csrf_token %}
                                                                                                <input type="hidden" name="username" value="{{request.player}}">
                                                                                                <input type="hidden" name="team" value="{{team.detail.id}}">

                                                                                                <div class="col-12">
                                                                                                    <div class="form-check form-check-inline">
                                                                                                        <input class="form-check-input padding-5" type="radio" name="response" id="inlineRadio1" value="accept" checked>
                                                                                                        <label class="form-check-label" for="inlineRadio1">Accept</label>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-12">
                                                                                                    <div class="form-check form-check-inline">
                                                                                                        <input class="form-check-input padding-5" type="radio" name="response" id="inlineRadio1" value="reject">
                                                                                                        <label class="form-check-label" for="inlineRadio1">Reject</label>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-12">
                                                                                                    <input type="submit" value="Submit" class="btn btn-submit margin-top-16">
                                                                                                </div>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                    <hr>
                                                                                {% endfor %}
                                                                        {% else %}
                                                                            <p class="min-height-200 center-r-c">There is no request</p>
                                                                        {% endif %}
                                                                    </div>


                                                                    <div class="col-lg-3"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            {% endif %}

                                    {% else %}
                                            <div class="col dashboard-detail-item from-top-25-mobile">
                                                <p class="center-icon-text">
                                                    <span class="material-symbols-outlined">
                                                        group_add
                                                        </span>&nbsp;Create Team
                                                </p>

                                                <div class="content">
                                                    <div class="row">

                                                        <div class="col-lg-3"></div>
                                                        
                                                        <div class="col-lg-6 padding-25">
                                                        <form method="post" action="{% url 'create_team' %}">
                                                            {% csrf_token %}
                                                            {{ create_team_form.as_div }}
                                                            <input type="submit" value="Create" class="btn btn-submit color-white">
                                                        </form>

                                                        <div class="col-lg-3"></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col dashboard-detail-item">
                                                <p class="center-icon-text">
                                                    <span class="material-symbols-outlined">
                                                        diversity_3
                                                        </span>&nbsp;Search Team
                                                </p>

                                                <div class="content">
                                                    <div class="row">

                                                        <div class="col-lg-3"></div>
                                                        
                                                        <div class="col-lg-6 padding-25">
                                                        <form method="post" action="">
                                                            {% csrf_token %}
                                                            {{ create_team_form.as_div }}
                                                            <input type="submit" value="Search" class="btn btn-outline-light">
                                                        </form>

                                                        <div class="col-lg-3"></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endif %}
                            </div>
                        </div>
                  
                  
                        <!-- Recent Match settings -->
                        <div class="tab-pane fade dashboard-detail" id="pills-recent-match" role="tabpanel" aria-labelledby="pills-recent-match-tab" tabindex="0">
                            <div class="row">
                                        <div class="col dashboard-detail-item from-top-25-mobile">
                                            <p class="center-icon-text">
                                                <span class="material-symbols-outlined">
                                                    stadia_controller
                                                    </span>&nbsp;Active Cycle
                                            </p>
    
                                            <div class="content padding-15">
                                                {% if matches.active_cycle %}
                                                    <table class="table">
                                                        <thead>
                                                            <th class="bg-transparent color-white-important">Date time</th>
                                                            <th class="bg-transparent color-white-important">Role</th>
                                                            <th class="bg-transparent color-white-important">Missing Boss</th>
                                                            <th class="bg-transparent color-white-important">cut</th>
                                                        </thead>
                                                        {% for match in matches.active_cycle %}
                                                            <tr>
                                                                <td class="bg-transparent color-white-important">{{match.attendane.date_time|date:"Y-m-d H:i:s" }}</td>
                                                                <td class="bg-transparent color-white-important">{{match.role}}</td>
                                                                <td class="bg-transparent color-white-important">{{match.missing_boss}}</td>
                                                                <td class="bg-transparent color-white-important">{{match.cut}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                                {% else %}
                                                    <p class="min-height-200 center-r-c">Do not have started match yet</p>
                                                {% endif %}
                                            </div>
                                        </div>


                                        <div class="col dashboard-detail-item from-top-25-mobile">
                                            <p class="center-icon-text">
                                                <span class="material-symbols-outlined">
                                                    history
                                                    </span>&nbsp;Match History
                                            </p>
    
                                            <div class="content padding-15">
                                                {% if matches.closed_cycle %}
                                                    <table class="table">
                                                        <thead>
                                                            <th class="bg-transparent color-white-important">Date time</th>
                                                            <th class="bg-transparent color-white-important">Role</th>
                                                            <th class="bg-transparent color-white-important">Missing Boss</th>
                                                            <th class="bg-transparent color-white-important">cut</th>
                                                        </thead>
                                                        {% for match in matches.closed_cycle %}
                                                            <tr>
                                                                <td class="bg-transparent color-white-important">{{ match.attendane.date_time|date:"Y-m-d H:i:s" }}</td>
                                                                <td class="bg-transparent color-white-important">{{match.role}}</td>
                                                                <td class="bg-transparent color-white-important">{{match.missing_boss}}</td>
                                                                <td class="bg-transparent color-white-important">{{match.cut}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                                {% else %}
                                                    <p class="min-height-200 center-r-c">Do not have a finished match yet</p>
                                                {% endif %}
                                            </div>
                                        </div> 
                            </div>
                        </div>
                  
                  
                  
                        <!-- Wallet -->
                        <div class="tab-pane fade dashboard-detail" id="pills-wallet" role="tabpanel" aria-labelledby="pills-wallet-tab" tabindex="0">
                            <div class="row">
                                    <!-- Payment Request -->
                                    <div class="col dashboard-detail-item">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                add_card
                                                </span>&nbsp;Payment request
                                        </p>
                                        <hr>

                                        <div class="content">
                                            <form method="post" action="{% url 'asking_money' %}" onsubmit="return confirm('Do you really want to send the form?');">
                                                {% csrf_token %}
                                                <label class="form-label">Amount</label>
                                                <input type="number" placeholder="amount in cut..." name="asking_money_amount">

                                                <div class="mb-3 from-top-15">
                                                    <label for="asking_money_type" class="form-label">Payment method</label>
                                                    <select name="asking_money_type" id="asking_money_type" class="form-select">
                                                        <option value="CUT" selected>Cut</option>
                                                        <option value="IR">IR</option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <input type="submit" value="Send" class="btn btn-porpule color-white">
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <!-- Financial Reports -->
                                    <div class="col dashboard-detail-item from-top-25-mobile">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                query_stats
                                                </span>&nbsp;Report
                                        </p>
                                        <hr>
                                        <div class="content">
                                            {% if wallet_report %}
                                                <div class="flex-between alert alert-warning">
                                                    <div class="center-icon-text"><span class="material-symbols-outlined">
                                                        monetization_on
                                                        </span>&nbsp;Wallet Balance:</div>
                                                    <div>$ {{wallet_report.amount}}</div>
                                                </div>

                                                <div class="flex-between alert">
                                                    <div class="center-icon-text"><span class="material-symbols-outlined">
                                                        looks_one
                                                        </span>&nbsp;Today's Income:</div>
                                                    <div>$ {{wallet_report.amount}}</div>
                                                </div>

                                                <div class="flex-between alert">
                                                    <div class="center-icon-text"><span class="material-symbols-outlined">
                                                        calendar_month
                                                        </span>&nbsp;Income this month:</div>
                                                    <div>$ {{wallet_report.amount}}</div>
                                                </div>
                                            {% else %}
                                                <p class="min-height-200 center-r-c">there aren't any reports</p>
                                            {% endif %}
                                        </div>
                                    </div>



                                    <!-- Transaction -->
                                    <div class="flex-column"></div>
                                            <div class="col dashboard-detail-item from-top-25">
                                                <p class="center-icon-text">
                                                    <span class="material-symbols-outlined">
                                                        history
                                                        </span>&nbsp;Transaction History
                                                </p>
                                                
                                                {% if transactions %}
                                                    <table class="table table-warning">
                                                        <thead>
                                                            <th class="">Status</th>
                                                            <th class="">Date of request</th>
                                                            <th class="">details</th>
                                                            <th class="">Paid date</th>
                                                            <th class="">Currency</th>
                                                            <th class="">Amount</th>
                                                        </thead>
                                                        {% for ts in transactions %}
                                                            <tr>
                                                                <td class="">{{ts.status}}</td>
                                                                <td class="">{{ts.created|date:"Y-m-d H:i" }}</td>
                                                                <td class="">{% if ts.caption %}{{ts.caption}}{% endif %}</td>
                                                                <td class="">{{ts.paid_date|date:"Y-m-d H:i" }}</td>
                                                                <td class="">{{ts.currency}}</td>
                                                                <td class="">$ {{ts.amount}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                                {% else %}
                                                    <div class="content">
                                                        <p class="min-height-200 center-r-c">there aren't any transaction</p>
                                                    </div>
                                                {% endif %}
                                            </div> 

                                            <div class="flex-column"></div>

                                            <!-- Wallet Detail -->
                                            <div class="col dashboard-detail-item from-top-25">
                                                <p class="center-icon-text">
                                                    <span class="material-symbols-outlined">
                                                        wallet
                                                        </span>&nbsp;Wallet Detail
                                                </p>
                                                
                                                <form method="post" action="{% url 'card_detail_update' %}" onsubmit="return confirm('Do you really want to submit the form?');">
                                                    {% csrf_token %}
                                                    <div class="bank-card">
                                                        {{wallet.as_div}}
                                                    </div>
                                                    <input type="submit" value="Update" class="btn btn-porpule color-white from-top-15">
                                                </form>
                                            </div>


                                            <!-- Currency Exchange -->
                                            <div class="col dashboard-detail-item from-top-25">
                                                <p class="center-icon-text">
                                                    <span class="material-symbols-outlined">
                                                        currency_exchange
                                                        </span>&nbsp; Currency Exchange
                                                </p>
                                                <hr>
                                                <div class=>
                                                    <form class="alert">
                                                        <input type="number" name="currency_exchange" id="currency_exchange" placeholder="Enter cut to calculate in IR..." class="form-control">
                                                        <input type="hidden" id="cut_in_ir_price" value="{% if cut_per_ir %}{{cut_per_ir}}{% else %}0{% endif %}" name="cut_in_ir_price">
                                                        <input type="submit" value="Calculate" class="btn btn-porpule color-white from-top-15" id="cut_to_ir_calculate"j>
                                                    </form>
                                                    <div class="flex-between alert">
                                                        <div>Cut price today:</div>
                                                        <div>{% if cut_per_ir %}$ {{cut_per_ir}}{% else %}Not define{% endif %}</div>
                                                    </div>
                                                </div>
                                            </div>
                                    
                            </div>
                        </div>
                  
                        <!-- Notifications -->
                        <div class="tab-pane fade dashboard-detail" id="pills-notifications" role="tabpanel" aria-labelledby="pills-notifications-tab" tabindex="0">
                            <div class="row">
                                    <div class="col dashboard-detail-item">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                thread_unread
                                                </span>&nbsp;Notifications
                                        </p>

                                        <div class="content">
                                            <!-- Notifications -->
                                            {% if notifications %}
                                            {% for notification in notifications %}
                                                <div class="alert alert-secondary from-top-15">
                                                        <h6 class="font-bold center-icon-text"><span class="material-symbols-outlined">
                                                            notifications
                                                            </span>{{notification.title}}</h6 class="font-bold">
                                                        <p>{{notification.caption}}</p>
                                                        <small><i>{{notification.created_at}}</i></small>
                                                </div>
                                            {% endfor %}
                                            <a href="{% url 'seen_notifications' %}">Seen</a>
                                            {% else %}
                                                <p class="min-height-200 center-r-c">There aren't new notifications</p>
                                            {% endif %}
                                        </div>
                                    </div>
                            </div>
                        </div>



                    </div>
                </div>
        </div>
    </div>
</div>