{% load static %}
<div class="container">
    <div class="row">
        <div class="col">
                







                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3 nav-l-style" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link color-red">
                            <div class="flex-row center-icon-text">
                                <img src="{% if user.avatar_hash %}../../{{user.avatar_hash}}{% else %}{% static '../media/profile/profile-icon.png' %}{%endif %}" class="image-profile">&nbsp;
                                <h6>{{user.username}}</h6>
                            </div>
                        </button>

                        <!--<button class="nav-link center-icon-text color-white none-hover " id="pills-dashboard-tap" data-bs-toggle="pill" data-bs-target="#pills-dashboard" type="button" role="tab" aria-controls="pills-dashboard" aria-selected="false">
                            <span class="material-symbols-outlined">
                                dashboard
                                </span>&nbsp;Dashboard
                        </button> -->

                        <button class="nav-link center-icon-text color-white none-hover active" id="pills-users-tab" data-bs-toggle="pill" data-bs-target="#pills-users" type="button" role="tab" aria-controls="pills-users" aria-selected="true">
                            <span class="material-symbols-outlined">
                                account_circle
                            </span>&nbsp;Users
                        </button>

                        <button class="nav-link center-icon-text color-white none-hover" id="pills-teams-tab" data-bs-toggle="pill" data-bs-target="#pills-teams" type="button" role="tab" aria-controls="v-pills-teams" aria-selected="false">
                            <span class="material-symbols-outlined">
                                groups
                            </span>&nbsp;Teams
                        </button>

                        <button class="nav-link center-icon-text color-white none-hover" id="pills-sheet-settings-tab" data-bs-toggle="pill" data-bs-target="#pills-sheet-settings" type="button" role="tab" aria-controls="pills-sheet-settings" aria-selected="false">
                            <span class="material-symbols-outlined">
                                tune
                            </span>&nbsp;Sheet settings
                        </button>

                        <button class="nav-link center-icon-text color-white none-hover" id="pills-attendance-tab" data-bs-toggle="pill" data-bs-target="#pills-attendance" type="button" role="tab" aria-controls="pills-attendance" aria-selected="false">
                            <span class="material-symbols-outlined">
                                note_stack_add
                            </span>&nbsp;Attendance
                        </button>

                        <button class="nav-link center-icon-text color-white none-hover" id="pills-financial-tab" data-bs-toggle="pill" data-bs-target="#pills-financial" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false">
                            <span class="material-symbols-outlined">
                                monetization_on
                            </span>&nbsp;Financial
                        </button>

                        <a href="{%url 'logout' %}">
                        <button class="nav-link center-icon-text pink-hover" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                            <span class="material-symbols-outlined">
                                logout</span>&nbsp;Exit
                        </button></a>
                    </div>












                    <div class="tab-content" id="v-pills-tabContent">
                        <!-- Dashboard Tab -->
                        <!-- <div class="tab-pane fade show active bg-transparent dashboard-detail padding-from-side" id="pills-dashboard" role="tabpanel" aria-labelledby="pills-dashboard-tap" tabindex="0">
                            <div class="row">
                                <div class="flex-column">
                                    <div class="col dashboard-detail-item">
                                        <p class="center-icon-text"><span class="material-symbols-outlined">
                                            history
                                            </span>&nbsp;Recantly Actions
                                        </p>
                                        {% if recantly_actions %}
                                            {% for ra in recantly_actions %}

                                            {% endfor %}
                                        {% else %}
                                            <div class="content">
                                                <p class="min-height-200 center-r-c">Nothing to show</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col dashboard-detail-item from-top-25">
                                    <div class="center-icon-text"><span class="material-symbols-outlined">
                                        verified_user
                                        </span>&nbsp;Members: 0
                                    </div>
                                </div>

                                <div class="col dashboard-detail-item from-top-25">
                                    <div class="center-icon-text"><span class="material-symbols-outlined">
                                        file_present
                                        </span>&nbsp;Last Sheet: 2024.01.02
                                    </div>
                                </div>

                                <div class="col dashboard-detail-item from-top-25">
                                    <div class="center-icon-text"><span class="material-symbols-outlined">
                                        price_change
                                        </span>&nbsp;Cut rate in IR: 1100
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        

                        <!-- Users Tab -->
                        <div class="tab-pane fade show active dashboard-detail padding-from-side" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab" tabindex="0">
                            <div class="row">
                                <div class="flex-row flex-between without-space">
                                        <div class="col dashboard-detail-item">
                                            <div class="center-icon-text"><span class="material-symbols-outlined">
                                                verified_user
                                                </span>&nbsp;Verified users: 0
                                            </div>
                                        </div>

                                        <div class="col dashboard-detail-item">
                                            <div class="center-icon-text">
                                                <span class="material-symbols-outlined">
                                                joystick
                                                </span>&nbsp;Boosters: 0
                                            </div>
                                        </div>

                                        <div class="col dashboard-detail-item">
                                            <div class="center-icon-text">
                                                <span class="material-symbols-outlined">
                                                    admin_panel_settings
                                                </span>&nbsp;Admins: 0
                                            </div>
                                        </div>
                                </div>

                                <div class="flex-column">
                                    <div class="col dashboard-detail-item from-top-25">
                                                <form method="get" action="" class="flex-row">
                                                    <input type="search" placeholder="Search...">
                                                    <button type="submit" class="btn btn-outline-light">
                                                        <span class="material-symbols-outlined">
                                                            search
                                                        </span>
                                                    </button>
                                                </form>
                                    </div>

                                    <div class="col dashboard-detail-item from-top-25">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                            badge
                                            </span>&nbsp;Users
                                        </p>

                                        <div class="content">
                                            <p class="min-height-200 center-r-c">Nothing to show</p>
                                        </div>
                                    </div>

                                    <div class="col dashboard-detail-item from-top-25">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                joystick
                                            </span>&nbsp;Boosters
                                        </p>

                                        <div class="content">
                                            <p class="min-height-200 center-r-c">Nothing to show</p>
                                        </div>
                                    </div>

                                    <div class="col dashboard-detail-item from-top-25">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                admin_panel_settings
                                            </span>&nbsp;Admins
                                        </p>

                                        <div class="content">
                                            <p class="min-height-200 center-r-c">Nothing to show</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Teams -->
                        <div class="tab-pane fade dashboard-detail" id="pills-teams" role="tabpanel" aria-labelledby="pills-teams-tab" tabindex="0">
                            <div class="row">
                                    <div class="col dashboard-detail-item">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                group
                                                </span>&nbsp;Teams
                                        </p>

                                        <div class="content">
                                            <p class="min-height-200 center-r-c">There is no team to show</p>
                                        </div>
                                    </div>

                                    <div class="col dashboard-detail-item from-top-25-mobile">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                group_add
                                                </span>&nbsp;Create Team
                                        </p>

                                        <div class="content">
                                            <div class="min-height-200 center-r-c">
                                                <form>
                                                    <input type="text" name="team" placeholder="Team name..." class="form-control">
                                                    <input type="submit" value="Create" class="btn btn-light from-top-15">
                                                </form>
                                            </div>
                                        </div>
                                    </div>  
                            </div>
                        </div>
                  
                  
                        <!-- Sheet settings -->
                        <div class="tab-pane fade dashboard-detail" id="pills-sheet-settings" role="tabpanel" aria-labelledby="pills-sheet-settings-tab" tabindex="0">
                            <div class="row">
                                    <div class="col dashboard-detail-item">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                checklist
                                                </span>&nbsp;Role
                                        </p>

                                        <div class="content">
                                            <p class="min-height-200 center-r-c">no data to Show</p>
                                        </div>

                                        <hr>
                                        <form>
                                            <input type="text" name="role" placeholder="Role name..." class="form-control">
                                            <input type="submit" value="Create" class="btn btn-light from-top-15">
                                        </form>
                                    </div>

                                    <div class="col dashboard-detail-item from-top-25-mobile">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                account_balance
                                                </span>&nbsp;Run type
                                        </p>

                                        <div class="content">
                                            <p class="min-height-200 center-r-c">no data to Show</p>
                                        </div>

                                        <hr>
                                        <form>
                                            <input type="text" name="run_type" placeholder="Run type..." class="form-control">
                                            <input type="submit" value="Create" class="btn btn-light from-top-15">
                                        </form>
                                    </div>

                                        <div class="col dashboard-detail-item from-top-25-mobile">
                                            <p class="center-icon-text">
                                                <span class="material-symbols-outlined">
                                                    savings
                                                    </span>&nbsp;Realm
                                            </p>
    
                                            <div class="content">
                                                <p class="min-height-200 center-r-c">no data to Show</p>
                                            </div>
    
                                            <hr>
                                            <form>
                                                <input type="text" name="realm" placeholder="Realm name..." class="form-control">
                                                <input type="submit" value="Create" class="btn btn-light from-top-15">
                                            </form>
                                        </div> 
                            </div>
                        </div>
                  
                  
                        <!-- Attendance -->
                        <div class="tab-pane fade dashboard-detail" id="pills-attendance" role="tabpanel" aria-labelledby="pills-attendance-tab" tabindex="0">
                            <div class="row">
                                    <div class="col dashboard-detail-item">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                gamepad
                                                </span>&nbsp;Active Attendance
                                        </p>

                                        <div class="content">
                                            <p class="min-height-200 center-r-c">no data to Show</p>
                                        </div>
                                    </div>

                                    <div class="col dashboard-detail-item from-top-25-mobile">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                close
                                                </span>&nbsp;Closed Attendance
                                        </p>

                                        <div class="content">
                                            <p class="min-height-200 center-r-c">no data to Show</p>
                                        </div>
                                    </div>


                                    <div class="flex-column from-top-25">
                                        <div class="col dashboard-detail-item">
                                            <p class="center-icon-text">
                                                <span class="material-symbols-outlined">
                                                    note_add
                                                    </span>&nbsp;New Attendance
                                            </p>
                                            <hr>
                                            <form>
                                                <input type="text" name="run_type" placeholder="Run type..." class="form-control">
                                                <input type="submit" value="Create" class="btn btn-light from-top-15">
                                            </form>
                                        </div>                                   
                                    </div>
                            </div>
                        </div>
                  
                  
                        <!-- Financial -->
                        <div class="tab-pane fade dashboard-detail" id="pills-financial" role="tabpanel" aria-labelledby="pills-financial-tab" tabindex="0">
                            <div class="row">
                                    <div class="col dashboard-detail-item">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                add_card
                                                </span>&nbsp;Deposit Request
                                        </p>

                                        <div class="content">
                                            <p class="min-height-200 center-r-c">no data to Show</p>
                                        </div>
                                    </div>

                                    <div class="col dashboard-detail-item from-top-25-mobile">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                query_stats
                                                </span>&nbsp;Report
                                        </p>

                                        <div class="content">
                                            <p class="min-height-200 center-r-c">no data to Show</p>
                                        </div>
                                    </div>

                                    <div class="col dashboard-detail-item">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                currency_exchange
                                                </span>&nbsp; Currency Exchange
                                        </p>
                                        <hr>
                                        <form>
                                            <input type="text" name="currency_exchange" placeholder="Cut to IR..." class="form-control">
                                            <input type="submit" value="Create" class="btn btn-light from-top-15">
                                        </form>
                                    </div>


                                    <div class="flex-column from-top-25">
                                        <div class="col dashboard-detail-item">
                                            <p class="center-icon-text">
                                                <span class="material-symbols-outlined">
                                                    history
                                                    </span>&nbsp;Transaction History
                                            </p>

                                            <div class="content">
                                                <p class="min-height-200 center-r-c">no data to Show</p>
                                            </div>
                                        </div> 
                                    </div>


                                    <div class="col dashboard-detail-item from-top-25">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                featured_seasonal_and_gifts
                                                </span>&nbsp;Gift
                                        </p>
                                        <hr>
                                        <form>
                                            <input type="text" name="gift_user_recived" placeholder="Username..." class="form-control">
                                            <input type="text" name="gift_amount" placeholder="Amount..." class="form-control from-top-15">

                                            <input type="submit" value="Submit" class="btn btn-light from-top-15">
                                        </form>
                                    </div>

                                    <div class="col dashboard-detail-item from-top-25">
                                        <p class="center-icon-text">
                                            <span class="material-symbols-outlined">
                                                gpp_bad
                                                </span>&nbsp;Mulct
                                        </p>
                                        <hr>
                                            <form>
                                            <input type="text" name="gift_user_recived" placeholder="Username..." class="form-control">
                                            <input type="text" name="gift_amount" placeholder="Amount..." class="form-control from-top-15">

                                            <input type="submit" value="Submit" class="btn btn-light from-top-15">
                                        </form>
                                    </div>
                            </div>
                        </div>
                  
                  
                    </div>
                </div>
        </div>
    </div>
</div>